.DS_Store
*.swp
*~.nib

sharedBuild/*

*/*/*.pbxuser

#modulob
*.class
modulob/**/bin/
modulob/**/.metadata
modulob/**/src-gen/**

build/
*.psd

*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

Whyzz-1.moved-aside
